@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min";

$transition-media: 900px;

body {
  margin-top: 20px;
}

.config-col {
  width: 100%;
  min-width: 100%;

  @media(min-width: $transition-media) {
    min-width: 300px;
    max-width: 450px;
  }
}

.sim-col {
  min-width: 100%;

  @media(min-width: $transition-media) { 
    min-width: 400px;
  }
}

.sim-graph {
  width: 100%;
  height: 250px;
}

.gearbox-config {
  min-height: 200px;
}